/*
|----------------------------------------------------------------------
|		Common Css
|----------------------------------------------------------------------
*/

.text_prime {
	color: var(--prime_color);
}
.text_second {
	color: var(--second_color);
}
.color {
	color: var(--prime_color);
}
.background {
	background: var(--prime_color);
}
.alert {
	padding: 1rem 2rem;
	border: 0.1rem solid;
	border-radius: 0.6rem;
}
.green {
	background: var(--green);
	&_text {
		color: var(--green);
	}
}
.yellow {
	background: var(--yellow);
	&_text {
		color: var(--yellow);
	}
}
.red {
	background: var(--red);
	&_text {
		color: var(--red);
	}
}
.blue {
	background: var(--blue);
	&_text {
		color: var(--blue);
	}
}
.gray {
	background: var(--gray);
	&_text {
		color: var(--gray);
	}
}
.theme {
	background: var(--theme);
	&_text {
		color: var(--theme);
	}
}

.subheading {
	color: var(--prime_color);
	letter-spacing: 0.5rem;
	text-transform: uppercase;
}

.toggle {
	@include flex(center, center);
	// display: none;
	@include pos($l: 2rem, $r: null, $z: 4);
	width: 2.4rem;
	height: 2rem;
	background: transparent;
	padding: 0;
	margin: auto;
	border: 0;
	cursor: pointer;
	@include trans;
	@include ipad_sm {
		@include flex;
	}
	&::before,
	&::after,
	> span {
		position: absolute;
		width: inherit;
		height: 0.3rem;
		background: var(--black);
		@include trans;
	}
	&::before {
		content: "";
		top: 0;
		@at-root .active#{&} {
			top: 50%;
			margin-top: -0.15rem;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
	&::after {
		content: "";
		bottom: 0;
		@at-root .active#{&} {
			bottom: 50%;
			margin-bottom: -0.15rem;
			-webkit-transform: rotate(135deg);
			-ms-transform: rotate(135deg);
			transform: rotate(135deg);
		}
	}
	> span {
		@at-root .active#{&} {
			opacity: 0;
		}
	}
}

.table_dv {
	display: table;
	@include fill;
	.table_cell {
		display: table-cell;
		vertical-align: middle;
	}
}

.contain,
.contain_fluid {
	position: relative;
	max-width: $container;
	padding: 0 2rem;
	margin: 0 auto;
	min-height: 0.1rem;
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after,
	&:after {
		clear: both;
	}
	&.sm {
		max-width: $container_sm;
	}
}

.contain_fluid {
	max-width: $container_fluid !important;
}

/*
|----------------------------------------------------------------------
|		Ico Css
|----------------------------------------------------------------------
*/

.ico {
	position: relative;
	@include flex(center, center);
	background: rgba(var(--light_rgb), 0.1);
	text-align: center;
	a,
	img {
		@include object(contain);
	}
	&.round {
		border-radius: 75%;
		a,
		img {
			border-radius: inherit;
		}
	}
	&.fill {
		img {
			-o-object-fit: cover;
			object-fit: cover;
			border-radius: inherit;
		}
	}
}

.badge {
	color: var(--light);
	font-size: 1.2rem;
	font-weight: 500;
	padding: 0.4rem 0.7rem;
	line-height: 1;
	text-align: center;
	border-radius: 0.5rem;
	white-space: nowrap;
}

/*
|----------------------------------------------------------------------
|		Scrollbar
|----------------------------------------------------------------------
*/

.scrollbar {
	&::-webkit-scrollbar-track {
		background: #f6f9fc;
		border-radius: 5rem;
	}
	&::-webkit-scrollbar {
		width: 0.5rem;
		height: 1rem;
		background-color: #f6f9fc;
		border-radius: 5rem;
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(var(--black_rgb), 0.15);
		border-radius: 5rem;
	}
}

/*
|----------------------------------------------------------------------
|		Dropdown
|----------------------------------------------------------------------
*/

.dropdown {
	position: relative;
	&_toggle {
		&:after {
			display: none;
		}
		&.select {
			@include flex(center, space-between);
			gap: 1.5rem;
			grid-gap: 1.5rem;
			overflow: hidden;
			&:after {
				color: inherit;
				margin-left: auto;
			}
		}
		&.chevron {
			&:after {
				content: "";
				@include chev;
				display: block;
				width: 1.4rem;
				height: 1.4rem;
				-webkit-transition: none;
				transition: none;
			}
			&.show {
				&:after {
					-webkit-transform: rotateX(180deg);
					transform: rotateX(180deg);
				}
			}
		}
	}
	&_menu {
		position: absolute;
		top: 100%;
		@include list;
		min-width: 26rem;
		background: var(--black);
		font-size: inherit;
		margin: 0;
		// padding: 0.7rem 0;
		margin-top: 0.5rem;
		border: 0.1rem solid rgba(var(--light_rgb), 0.2);
		border-radius: 0.8rem;
		pointer-events: none;
		visibility: hidden;
		opacity: 0;
		z-index: 5;
		&.active {
			pointer-events: auto;
			visibility: visible;
			opacity: 1;
		}
		> li {
			display: block;
			&:not(:nth-last-child(1)) {
				border-bottom: 0.1rem solid rgba(var(--light_rgb), 0.2);
			}
			> * {
				@include flex(center);
				width: 100%;
				color: inherit;
				text-align: left;
				line-height: 1.2;
				padding: 1.2rem 2rem;
				border: 0;
				@include trans;
				&:hover {
					color: var(--prime_color);
				}
			}
		}
	}
}

/*
|----------------------------------------------------------------------
|		Popup
|----------------------------------------------------------------------
*/

.popup {
	@include pos($pos: fixed);
	// display: none;
	// background: rgba(25, 33, 37, 0.95);
	background: rgba(var(--black_rgb), 0.9);
	padding: 0;
	backdrop-filter: blur(0.3rem);
	overflow: auto;
	z-index: 101;
	> .table_dv {
		@include fill;
		@include flex($justify: center, $flow: wrap);
		> .table_cell {
			display: block;
			-ms-flex-item-align: center;
			align-self: center;
			width: 100%;
			padding: 3rem 0;
		}
	}
	._inner {
		position: relative;
		background: var(--light);
		padding: 2.5rem;
		margin: auto;
		border-radius: 1rem;
		> .x_btn {
			& + h1,
			& + h2,
			& + h3,
			& + h4,
			& + h5,
			& + h6 {
				padding-right: 3rem;
			}
		}
	}
	.list {
		> li {
			@include flex;
			margin-bottom: 1rem;
			> div:nth-child(1) {
				width: 12rem;
				min-width: 12rem;
				font-weight: 700;
				margin-right: 1rem;
			}
			> div:nth-child(2) {
				width: 100%;
				color: var(--dark_gray);
			}
		}
	}
	hr {
		margin: 2rem 0;
	}
}

/*
|----------------------------------------------------------------------
|		Table Block
|----------------------------------------------------------------------
*/

.tbl_blk {
	overflow: auto;
	table {
		width: 100%;
		min-width: 70rem;
		> * {
			&:not(:nth-last-child(1)) {
				border-bottom: 0.1rem solid var(--light_gray);
			}
			> tr {
				&:nth-child(1) {
					> * {
						padding-top: 2rem;
					}
				}
				&:nth-last-child(1) {
					> * {
						padding-bottom: 2rem;
					}
				}
				> * {
					padding: 1rem 1.5rem;
					&:nth-child(1) {
						padding-left: 2.5rem;
					}
					&:nth-last-child(1) {
						padding-right: 2.5rem;
					}
				}
				> th {
					font-weight: 600;
				}
			}
		}
	}
}

.blk {
	background: var(--dark);
	padding: 2.5rem;
	border-radius: 0.8rem;
	-webkit-box-shadow: 0 0.5rem 1rem 0 rgba(var(--dark_rgb), 0.35);
	box-shadow: 0 0.5rem 1rem 0 rgba(var(--dark_rgb), 0.35);
	&:not(:nth-last-child(1)) {
		margin-bottom: 2rem;
	}
}

.review_block {
	padding-bottom: 2rem;
	&:not(:nth-last-child(1)) {
		margin-bottom: 2rem;
		border-bottom: 0.1rem solid rgba(var(--light_rgb), 0.1);
	}
	.top_blk {
		@include flex(center);
		.ico {
			width: 4rem;
			min-width: 4rem;
			height: 4rem;
			margin-right: 1rem;
		}
		.title {
			font-weight: 500;
			margin-bottom: 0.2rem;
		}
		.date {
			font-size: 1.2rem;
			color: rgba(var(--light_rgb), 0.5);
		}
	}
	.mid_blk {
		margin: 1rem 0;
	}
	.btm_blk {
		@include flex(center, space-between);
	}
}

.switch {
	position: relative;
	width: 3.6rem;
	min-width: 3.6rem;
	height: 2rem;
	cursor: pointer;
	* {
		@include trans;
	}
	input[type="radio"],
	input[type="checkbox"] {
		position: absolute;
		top: 0 !important;
		left: 0 !important;
		width: 100% !important;
		height: 100% !important;
		margin: 0 !important;
		border: 0 !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		opacity: 0;
		z-index: 5;
		&:before,
		&:after {
			display: none;
		}
		&:checked + em:before {
			-webkit-transform: translateX(0.8rem);
			-ms-transform: translateX(0.8rem);
			transform: translateX(0.8rem);
		}
		&:checked + em:after {
			background: var(--prime_color);
		}
	}
	> em,
	> em:before,
	> em:after {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		background: transparent;
		padding: 0;
		z-index: 1;
	}
	> em {
		@include flex(center);
		border: none;
		&:before {
			content: "";
			width: 1.4rem;
			height: 1.4rem;
			background: var(--light);
			border-radius: 75%;
			-webkit-transform: translateX(-0.8rem);
			-ms-transform: translateX(-0.8rem);
			transform: translateX(-0.8rem);
			-webkit-transition: all linear 0.3s;
			transition: all linear 0.3s;
			z-index: 5;
		}
		&:after {
			content: "";
			background: rgba(var(--black_rgb), 0.3);
			// background: #49474a;
			border-radius: 5rem;
			-webkit-transition: all linear 0.3s;
			transition: all linear 0.3s;
		}
	}
}
